<section class="hero is-fullheight has-text-centered has-background-white-ter" id="action">
  <div class="hero-body">
    <div class="container">
      
      <div>
      <h1 class="title">What can I do?</h1>
      </div>
      
      <div class="columns">
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          Most importantly, if you can, walk, bike, roll, or take public transit to where you need to go. Secondly, get involved in local organizations supporting and or advocating for active and public transit. If you are in the Halifax N.S. Canada area (where these posters originated) I would encourage you to check out the <a href="https://cyclehalifax.ca/">Halifax Cycling Coalition</a>.
          <hr>
          If you like these posters, you may want to <b>put up posters</b> in your area. My hope is that putting up posters will make the issue more visible in the real world and make it harder to ignore the negative impacts of cars on our cities. If you would like to put up posters in your local area feel free to download, modify, and or print copies of these poster to put up in your area. These posters are © 2022 by Chris Geroux, licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1">CC BY-SA 4.0</a>.
          <hr/>
          These poster were created using the free and open source vector graphics program <a href="https://inkscape.org/">Inkscape</a> which can be used if you wish to modify the poster. Scalar vector graphic (svg) files of the posters are available which are best if you want to modify the posters. If you just want to print the posters as they are, a pdf file is likely what you want.
        </div>
      </div>
      <div class="columns is-centered">
        <h2>With Strong Towns</h2>
      </div>
      <div class="columns is-centered">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="assets/images/cars_ruin_cities_with_st_any_qr.svg"><img src="assets/images/cars_ruin_cities_with_st_any_qr_272x352.png" alt="Cars Ruin Cities Poster"></a>
                <a href="assets/images/cars_ruin_cities_with_st_any_qr.svg">svg</a>, <a href="assets/images/cars_ruin_cities_with_st_any_qr.pdf">pdf</a>
            </figure>
        </div>
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="assets/images/better_cities_are_possible_with_st_any_qr.svg"><img src="assets/images/better_cities_are_possible_with_st_any_qr_272x352.png" alt="Better Cities Are Possible Poster"></a>
                <a href="assets/images/better_cities_are_possible_with_st_any_qr.svg">svg</a>, <a href="assets/images/better_cities_are_possible_with_st_any_qr.pdf">pdf</a>
            </figure>
        </div>
      </div>
      <div class="columns is-centered">
        <br/><h2>With Not Just Bikes</h2>
      </div>
      <div class="columns is-centered">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="assets/images/cars_ruin_cities_with_njb_any_qr.svg"><img src="assets/images/cars_ruin_cities_with_njb_any_qr_272x352.png" alt="Cars Ruin Cities Poster"></a>
                <a href="assets/images/cars_ruin_cities_with_njb_any_qr.svg">svg</a>, <a href="assets/images/cars_ruin_cities_with_njb_any_qr.pdf">pdf</a>
            </figure>
        </div>
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="assets/images/better_cities_are_possible_with_njb_any_qr.svg"><img src="assets/images/better_cities_are_possible_with_njb_any_qr_272x352.png" alt="Better Cities Are Poster"></a>
                <a href="assets/images/better_cities_are_possible_with_njb_any_qr.svg">svg</a>, <a href="assets/images/better_cities_are_possible_with_njb_any_qr.pdf">pdf</a>
            </figure>
        </div>
      </div>
      
      <a href="{{site.url}}{{site.baseurl}}/#related"
        class="button is-black is-rounded is-outlined is-uppercase has-text-weight-normal">Related Issues</a>
      </a>
      
    </div>
  </div>
</section>