<section class="hero is-fullheight has-text-centered has-background-white-ter" id="action">
  <div class="hero-body">
    <div class="container">
      
      <div>
      <h1 class="title">What can I do?</h1>
      </div>
      
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="assets/images/cars_ruin_cities.svg"><img src="assets/images/cars_ruin_cities_272x352.jpg" alt="Cars Ruin Cities Poster"></a>
            </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          Most importantly, if you can, walk, bike, roll, or take public transit to where you need to go. Secondly, get involved in local organizations supporting and or advocating for active and public transit. If you are in the Halifax N.S. Canada area (where these posters originated) I would encourage you to check out the <a href="https://cyclehalifax.ca/">Halifax Cycling Coalition</a>.
          <hr>
          If you liked this poster, you may want to <b>put up posters</b> in your area. My hope is that putting up posters will make the issue more visible in the real world and make it harder to ignore the negative impacts of cars on our cities. If you would like to put up posters in your local area feel free to download, modify, and or print copies of this poster to put up in your area. This <a href="https://cgeroux.github.io/climate_crisis/climate_crisis.svg">Cars Ruin Cities Poster</a> © 2022 by Chris Geroux is licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1">CC BY-SA 4.0</a>.
          <hr/>
          This poster was created using the free and open source vector graphics program <a href="https://inkscape.org/">Inkscape</a> which can be used if you wish to modify the poster. A scalar vector graphic (svg) file of the poster is available here: <a href="assets/images/cars_ruin_cities.svg">cars_ruin_cities.svg</a> which is best if you want to modify it. If you just want to print the poster as it is, this <a href="assets/images/cars_ruin_cities.pdf">pdf file</a> is likely what you want.
        </div>
      </div>
      
      <a href="{{site.url}}{{site.baseurl}}/#related"
        class="button is-black is-rounded is-outlined is-uppercase has-text-weight-normal">Related Issues</a>
      </a>
      
    </div>
  </div>
</section>