<section class="hero is-fullheight has-text-centered has-background-white-ter" id="action">
  <div class="hero-body">
    <div class="container">
      
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="assets/images/cars_ruin_cities.svg"><img src="assets/images/cars_ruin_cities_272x352.jpg" alt="Cars Ruin Cities Poster"></a>
            </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          A way to take action is to <b>put up posters</b>. Putting up posters will make the issue more visible in the real world and it will make it harder for people to ignore the negative impacts of cars on our cities.
          <hr>
          If you would like to put up posters in your local area feel free to download, modify, and or print copies of this poster to put up in your area. This <a href="https://cgeroux.github.io/climate_crisis/climate_crisis.svg">Cars Ruin Cities Poster</a> © 2022 by Chris Geroux is licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1">CC BY-SA 4.0</a>.
          <hr/>
          This poster was created using the free and open source vector graphics program <a href="https://inkscape.org/">Inkscape</a> which can be used if you wish to modify the poster. A scalar vector graphic (svg) file of the poster is available here: <a href="assets/images/cars_ruin_cities.svg">cars_ruin_cities.svg</a> which is best if you want to modify it. If you just want to print the poster as it is, this <a href="assets/images/cars_ruin_cities.pdf">pdf file</a> is likely what you want.
        </div>
      </div>
      
      <a href="{{site.url}}{{site.baseurl}}/#related"
        class="button is-black is-rounded is-outlined is-uppercase has-text-weight-normal">Related Issues</a>
      </a>
      
    </div>
  </div>
</section>