<section class="hero is-fullheight has-text-centered has-background-white-ter" id="hints">
  <div class="hero-body">
    <div class="container">
      
      <div class="columns">
        <div>
        <h1 class="title">Better cities are possible</h1>
        
        <p class="has-text-left">These podcasts and youtube channels helped me to understand the role walking, cycling and public transit can play in improving our cities, from noise and air pollution to even making them better places to drive by reducing traffic on the roads. My favourite was <i>Not Just Bikes</i> as it gave great examples of how cities can be better and I enjoyed how easy the information was to digest. Some of the videos I found the most interesting were based on work by <a href="https://www.strongtowns.org/">strongtowns.org</a>. Strong towns also has a <a href="https://www.youtube.com/channel/UCTeYrzSQ3YCp3RovGH4y8Ew">youtube channel</a> and a <a href="https://www.strongtowns.org/podcast">podcast</a>.</p>
        </div>
      </div>
      
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="https://www.youtube.com/c/NotJustBikes"><img class="is-rounded" src="assets/images/not_just_bikes_225x225.png" alt="Not Just Bikes">
            </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          <a href="https://www.youtube.com/c/NotJustBikes">Not Just Bikes</a> videos are stories of great urban planning and urban experiences from Amsterdam and the Netherlands. The creator of this youtube channel grew up in car dependent London, Canada and moved to Amsterdam in the Netherlands so that he and his family could have a better quality of life free from dependence on cars.
        </div>
      </div>
      
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="https://thewaroncars.org/"><img class="is-rounded" src="assets/images/war_on_cars_600x600.png" alt="Climate Town"></a>
            </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          <a href="https://thewaroncars.org/">The War on Cars</a> is a podcast about the epic, hundred years’ war between The Car and The City. It is produced in New York city and as such has a U.S. focus.
        </div>
      </div>
      
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="https://www.youtube.com/c/OhTheUrbanity"><img class="is-rounded" src="assets/images/oh_the_urbanity_300x300.jpg" alt="What on Earth"></a>
            </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          <a href="https://www.youtube.com/c/OhTheUrbanity">Oh The Urbanity</a> aims to make concise, informative, and entertaining videos combining streetscapes and demographic data. They have a particular interest in making cities more walkable, bikeable, and all around easier and safer to get around in. Their videos focus on Canadian cities.
        </div>
      </div>
      
      <a href="{{site.baseurl}}/#action"
        class="button is-black is-rounded is-outlined is-uppercase has-text-weight-normal">Something you can do</a>
      </a>
    </div>
  </div>
</section>
