<section class="hero is-fullheight has-text-centered has-background-white-ter" id="related">
  <div class="hero-body">
    <div class="container">
      
      <div>
        <h1 class="title">Related Issues</h1>
      </div>
      
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="https://cgeroux.github.io/climate_crisis?utm_campaign=cross_reference&utm_source=cars_ruin_cities_site&utm_medium=web_site"><img src="assets/images/climate_crisis_our_home_is_burning_any_qr_272x352.png" alt="Climate Crisis Poster"></a>
            </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          <p>
          There is an overlap with why our society has become so car dependent and why we are failing to address the climate crisis. To learn more about what is causing inaction on the climate crisis see my other site/poster about the <a href="https://cgeroux.github.io/climate_crisis?utm_campaign=cross_reference&utm_source=cars_ruin_cities_site&utm_medium=web_site">climate crisis</a>.
          </p>
        </div>
      </div>
      
    </div>
  </div>
</section>