<section class="hero is-fullheight has-text-centered has-background-white-ter" id="related">
  <div class="hero-body">
    <div class="container">
      
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="https://cgeroux.github.io/climate_crisis"><img src="assets/images/climate_crisis_272x352.jpg" alt="Climate Crisis Poster"></a>
            </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          <p>There is an overlap with why our society has become so car dependent and the climate crisis. To learn more about what is driving the climate crisis see my other site about the <a href="https://cgeroux.github.io/climate_crisis">climate crisis</a>.</p>
        </div>
      </div>
      
    </div>
  </div>
</section>